:root {
  --primary-color: #1e90ff;
  --primary-color-shade: #1e8fff80;
  --secondary-color: #ffd700;
  --secondary-color-shade: #ffd90080;
}
body {
  position: relative;
}
header {
  position: relative;
  background-color: var(--primary-color-shade);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
}
.logo {
  font-size: 3rem;
  font-family: cursive;
  font-weight: 600;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  font-weight: 600;
}
.navigation li {
  padding: 2rem;
  margin: 0;
  cursor: pointer;
}

.navigation li:hover {
  background-color: var(--primary-color);
}
.profile{
  cursor: pointer;
}

.tasks-container {
  margin: 2rem;
  background-color: var(--primary-color-shade);
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
}
.tasks-container h1 {
  text-align: center;
  text-decoration: underline dotted;
}

#tasks {
  margin: 2rem;
  min-height: 200px;
}
#tasks li {
  font-weight: 500;
  padding: 1rem;
  background-color: var(--secondary-color-shade);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  list-style-type: none;
  display: grid;
  grid-template-columns: 3rem auto 3rem;
  align-items: center;
}
.complete-task {
  margin: 0;
  width: 2rem;
  height: 2rem;
}
.task-description {
  justify-self: flex-start;
  font-size: 2rem;
  margin: 0;
}
.delete-button {
  width: 3rem;
  height: 3rem;
  justify-self: flex-end;
  cursor: pointer;
  border: 2px solid transparent;
}
.delete-button:hover {
  background-color: rgba(255, 99, 71, 0.5);
  border: 2px solid tomato;
  border-radius: 5px;
}
.no-tasks {
  text-align: center;
  padding-top: 90px;
}

#task-form {
  margin: 2rem;
  background-color: var(--secondary-color-shade);
  border: 2px solid var(--secondary-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#task-form h5 {
  text-decoration: underline dotted;
}

.login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  background-color: var(--secondary-color-shade);
  border: 2px solid var(--secondary-color);
  padding: 2rem;
  border-radius: 20px;
}
.login form {
  position: relative;
  display: flex;
  z-index: 40;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 750px) {
  .app-container {
    display: grid;
    grid-template-columns: 60% auto;
  }
  #task-form {
    height: fit-content;
  }
}
